<div ng-app="Main" ng-controller="BaseCtrl">
    <h1>Hola como estan todos</h1>
    <ul>
        <li ng-repeat="item in emojis">
            <span>{{item.name}}</span>
        </li>
    </ul>
</div>

